@font-face {
  font-family: 'Tiempos Headline';
  src: url('../assets/fonts/TiemposHeadline-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Tiempos Headline Bold';
  src: url('../assets/fonts/TiemposHeadline-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/fonts/ProximaNova-Reg.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('../assets/fonts/ProximaNova-Sbold.otf') format('opentype');
}
