@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 798px;
  }
  .hero-vector {
    padding:0 108px;
    position: absolute;
    top: 400px;
  }
  .overview .container .hero-vector {
    position: absolute;
  }
  .hero .overview .call2action {
    padding: 75px 108px;
  }
  .hero .call2action .content {
    margin-top: 30px;
  }
  .hero-vector .img-bus:hover {
    transition: transform 1s;
    -ms-transform: scale(1.05) translate(30px, 0px);
    -webkit-transform: scale(1.05) translate(30px, 0px);
    transform: scale(1.05) translate(30px, 0px);
  }
  .img-bus:hover {
    transition: transform 1s;
    -ms-transform: scale(1.1) translate(30px, 0px);
    -webkit-transform: scale(1.1) translate(30px, 0px);
    transform: scale(1.1) translate(30px, 0px);
  }
  .hero-section {
    height: 850px;
  }
  .hero {
    padding: 90px;
  }
  .cards-container .card {
    padding: 75px 36px;
  }
  .feature .cards-container {
    display: grid;
    grid-template-columns: 382px 382px;
    grid-column-gap: 30px;
    justify-content: center;
  }
  .card .section-body {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .feature .cards-container .card .img-sec {
    margin: 0 20px;
  }
  .feature .cards-container .card .img-sec {
    height: 195px;
  }
  .schoolbus img {
    width: 300px;
  }
  .winnebago img {
    width: 260px;
  } 

  .footer .footer-1 > div {
    margin-right: 30px;
  }

  .footer-1 .label {
    margin-right: 15px;
    display: flex;
    align-items: center;
    height: 29px;
  }

  .address {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-call2-action .card {
    width: 655px;
  }

  /* k-12 page */
  .k12 .hero-section {
    height: 840px;
  }
  .can-edu-k12 h2 {
    width: 362px;
    margin: 0 auto;
  }
  .can-edu-k12 {
    width: 442px;
    margin: 100px auto;
  }
  .k12 .hero-vector {
    padding:0;
    position: absolute;
    top: 450px;
  }
  .k12 .overview .container .hero-vector {
    position: absolute;
    top: 488px;
    left: 75px;
    width: 660px;
  }
  .k12 .bus-circle .schoolbus {
    width: 660px;
    margin-left: -123px;
    margin-top: 117px;
  }
  .k12 .schoolbus:hover {
    transition: transform .3s;
    -ms-transform: scale(1.1) translate(50px, 0px);
    -webkit-transform: scale(1.1) translate(50px, 0px);
    transform: scale(1.1) translate(50px, 0px);
  }
  .k12 .event-feature .bus-img .bus-circle {
    height: 411px;
    width: 411px;
  }
  .k12 .map-itinerary .itnerary-sc .content, .can-edu-k12 .content {
    width: 440px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
  }

  /* HE page */
  .he .hero-section {
    height: 925px;
  }
  .can-edu-he h2 {
    width: 362px;
    margin: 0 auto;
  }
  .can-edu-he {
    width: 442px;
    margin: 100px auto;
  }
  .he .hero-vector {
    padding:0;
    position: absolute;
    top: 450px;
  }
  .he .overview .container .hero-vector {
    position: absolute;
    top: 440px;
    left: 75px;
    width: 660px;
  }
  .he .bus-circle .schoolbus {
    width: 527px;
    margin-left: -58px;
    margin-top: 75px;
  }
  .he .schoolbus:hover {
    transition: transform .3s;
    -ms-transform: scale(1.1) translate(50px, 0px);
    -webkit-transform: scale(1.1) translate(50px, 0px);
    transform: scale(1.1) translate(50px, 0px);
  }
  .he .event-feature .bus-img .bus-circle {
    height: 411px;
    width: 411px;
  }
  .he .map-itinerary .itnerary-sc .content, .can-edu-he .content {
    width: 440px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
  }  

  /* Header and Footer */
  .top-bar-logo {
    height: 24px;
    margin: 25px 0;
  }
  .footer-logo {
    height: 20px;
    margin: 35px 0 40px 0;
  }

  .more-feature > .container > .more-feature-grid > .more-feature-box > .head {
    height: 114px;
  }
}
