html,
body {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

div,
span,
a {
  font-family: 'Proxima Nova';
}

.navbar {
  z-index: 10;
  background-color: #ffffff;
  height: 120px;
}

.navbar__brand {
  text-align: left;
  letter-spacing: 0px;
  color: #444444;
}

.navbar__logo {
  width: 384px;
}

.bg-1 {
  background: #f0f2f3;
}

.bg-2 {
  background: transparent linear-gradient(90deg, #ffffff 0%, #ffffff00 100%) 0% 0% no-repeat
    padding-box;
}

.circle__yellow {
  background: #facb13 0% 0% no-repeat padding-box;
}

.notification {
  background-image: url('../../assets/images/asiapacific/greenbg.svg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification__circle1 {
  background: white;
  /* width: 58.15%;
  height: 58.15%; */
  /* padding: 10% 13% 7% 13%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.notification__title {
  letter-spacing: 0px;
  color: #156380;
}
.notification__subtitle {
  letter-spacing: 0px;
  color: #444444;
}
.notification__time {
  letter-spacing: 0px;
  color: #006184;
}
.notification__content {
  letter-spacing: 0px;
  color: #333333;
}
.btn--red {
  color: #ffffff;
  /* background: #d41b5d; */
  background: linear-gradient(to right, #e72429, #d41b5d);
  outline: none;
  border: none;
  transition: transform 0.5s;
  text-align: center;
  letter-spacing: 0.04px;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

.btn--red:hover {
  background: #e72429;
}
.btn--red img {
  vertical-align: middle;
  margin-left: 15px;
}
.btn--red::after {
  content: url('../../assets/images/arrow-right-white.svg');
  vertical-align: middle;
  margin-left: 15px;
}
.btn--red:hover,
.btn--red:focus,
.btn--red:active {
  color: #ffffff;
}

.circle__orange {
  background: #f68e20 0% 0% no-repeat padding-box;
}
.bus {
  z-index: 9;
}
.circle__blue {
  background: #39b7d7 0% 0% no-repeat padding-box;
}
.cloud--mid-right {
  z-index: 9;
}

.notification__circle2 {
  bottom: 0;
  right: 0;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.notification__dotline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.event__title {
  text-align: center;
  letter-spacing: 0px;
  color: #006184;
}
.event__content {
  text-align: center;
  letter-spacing: 0px;
  color: #333333;
}

.schedules {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.schedule {
  display: flex;
  align-items: center;
}

.dot--yellow {
  background-color: #facb13;
}
.dot--orange {
  background-color: #f68e20;
}
.dot--green {
  background-color: #43ca9e;
}
.dot--blue {
  background-color: #39b7d7;
}
.schedule__time {
  letter-spacing: 0.04px;
  color: #156380;
  text-transform: uppercase;
}
.schedule__content {
  letter-spacing: 0px;
  color: #e72429;
}

.conversation__item {
  display: flex;
  align-items: center;
}
.conversation__content {
  letter-spacing: 0px;
  color: #767676;
  margin-left: 16px;
}

.section__ahead__conversation {
  display: flex;
}
.section__ahead {
  width: 528px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.section__ahead a {
  width: fit-content;
}
.join-conversation {
  display: flex;
  align-items: center;
}
.message {
  background: url(../../assets/images/asiapacific/message.svg) no-repeat;
  background-size: contain;
  text-align: center;
  letter-spacing: 0px;
  color: #156380;
  display: flex;
  align-items: center;
}
.locations-list li {
  list-style-type: none;
  line-height: 30px;
  display: flex;
  align-items: center;
}
.locations-list li:before {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #f68e20;
  content: '';
  display: inline-block;
  margin-right: 10px;
}

.section_itinerary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title--s {
  letter-spacing: 0.03px;
  color: #444444;
  text-transform: uppercase;
}
.title--l {
  letter-spacing: 0px;
  color: #006184;
}
.section__content {
  letter-spacing: 0px;
  color: #333333;
}

.section__limited {
  background: #ffffff;
  box-shadow: 0px 20px 50px #0000001a;
  left: 50%;
  transform: translate(-50%, 0);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section__limited__text {
  text-align: center;
  letter-spacing: 0px;
  color: #006184;
}

.section__missionWrapper {
  background: #facb13;
}
.section__missionContents {
  margin: auto;
}
.section__missionTitle {
  text-align: center;
  letter-spacing: 0px;
  color: #156380;
  margin-bottom: 80px;
}
.section__missions {
  display: flex;
  justify-content: space-between;
}

.section__missionSubtitle {
  letter-spacing: 0px;
  color: #444444;
}
.section__missionContent {
  letter-spacing: 0px;
  color: #444444;
}

.section__aboutus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 119px;
}
.section__address {
  letter-spacing: 0.03px;
  color: #767676;
}
.section__phoneNumber {
  margin-left: 30px;
}
a.label {
  letter-spacing: 0.03px;
  color: #e72429;
  text-decoration: none;
}
.section__social {
  width: 137px;
  justify-content: space-between;
  display: flex;
}

.section__social .icon {
  width: 22px;
  height: 22px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.section__social .icon.linkedin {
  background-image: url('../../assets/images/Icon\ awesome-linkedin.png');
}

.section__social .icon.linkedin:hover {
  background-image: url('../../assets/images/Icon\ awesome-linkedin-1.png');
}

.section__social .icon.twitter {
  background-image: url('../../assets/images/Icon\ awesome-twitter.png');
}

.section__social .icon.twitter:hover {
  background-image: url('../../assets/images/Icon\ awesome-twitter-1.png');
}

.section__social .icon.facebook {
  background-image: url('../../assets/images/Icon\ awesome-facebook.png');
}

.section__social .icon.facebook:hover {
  background-image: url('../../assets/images/Icon\ awesome-facebook-1.png');
}

.section__social .icon.instagram {
  background-image: url('../../assets/images/Icon\ awesome-instagram.png');
}

.section__social .icon.instagram:hover {
  background-image: url('../../assets/images/Icon\ awesome-instagram-1.png');
}

.section__footer {
  height: 86px;
  display: flex;
  align-items: center;
}
.section__footer .footer-logo img {
  width: 170px;
}
.section__copyright {
  height: 68px;
  background: #f2f8fa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section__copyright .main-content {
  text-align: center;
  letter-spacing: 0px;
  color: #767676;
}

@media (min-width: 1920px) {
  .container {
    max-width: 1640px;
  }
  .navbar__brand {
    font: normal normal normal 48px/60px 'Tiempos Headline Bold';
  }
  .notification {
    transform: translate(-208px, -307px);
    width: 1510px;
    height: 1510px;
  }
  .notification__circle1 {
    width: 878px;
    height: 878px;
    padding: 155px 172px 95px 171px;
  }
  .notification__title {
    font: normal normal normal 56px/60px 'Tiempos Headline Bold';
  }
  .notification__subtitle {
    font: normal normal normal 34px/43px 'Proxima Nova';
  }
  .notification__time {
    font: normal normal normal 24px/32px 'Proxima Nova Bold';
  }
  .notification__content {
    font: normal normal normal 16px/21px 'Proxima Nova';
  }
  .btn--red {
    padding-right: 32px;
    padding-left: 32px;
    border-radius: 30px;
    font: normal normal normal 18px/22px 'Proxima Nova Bold';
    height: 60px;
    line-height: 60px;
  }
  .notification__circle2 {
    transform: translate(436px, 120px);
    width: 718px;
    height: 718px;
    padding: 223px 149px 223px 150px;
  }
  .notification__dotline {
    transform: translate(827px, 530px);
    width: 1092px;
    height: 1092px;
  }
  .event__title {
    font: normal normal normal 40px/50px 'Tiempos Headline Bold';
  }
  .event__content {
    font: normal normal normal 18px/26px 'Proxima Nova';
  }
  .schedule__time {
    font: normal normal normal 18px/32px 'Proxima Nova Bold';
  }
  .schedule__content {
    font: normal normal normal 24px/32px 'Proxima Nova';
  }
  .schedule__dot {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 30px;
  }
  .main-content {
    max-width: 1364px;
    margin: auto;
  }
  .title--s {
    font: normal normal normal 14px/22px 'Proxima Nova Bold';
  }
  .title--l {
    font: normal normal normal 40px/48px 'Tiempos Headline Bold';
  }
  .section__content {
    font: normal normal normal 18px/26px 'Proxima Nova';
  }
  .conversation__item {
    margin-bottom: 15px;
  }
  .conversation__content {
    font: normal normal normal 18px/26px 'Proxima Nova Bold';
  }
  .bg-1 {
    top: -1014px;
    left: -1040px;
    width: 3174px;
    height: 3174px;
  }
  .bg-2 {
    top: -651px;
    left: -677px;
    width: 2448px;
    height: 2448px;
  }
  .circle__yellow {
    top: -122px;
    right: 124px;
    width: 216px;
    height: 216px;
  }
  .cloud--upper-right {
    top: 363px;
    right: -374px;
    width: 300px;
  }
  .cloud--upper-left {
    top: 504px;
    right: 59px;
    width: 243px;
  }
  .circle__orange {
    top: 459px;
    right: -180px;
    width: 362px;
    height: 362px;
  }
  .bus {
    top: 668px;
    right: -140px;
    width: 580px;
  }
  .circle__blue {
    top: 1160px;
    left: 100px;
    width: 216px;
    height: 216px;
  }
  .cloud--mid-left {
    top: 1386px;
    left: 353px;
    width: 257px;
  }
  .cloud--mid-right {
    bottom: -373px;
    right: 88px;
    width: 400px;
  }
  .cloud--lower-left {
    bottom: -438.7px;
    right: -490px;
    width: 200px;
  }
  .cloud--lower-right {
    bottom: -550px;
    left: 240px;
    width: 300px;
  }
  .schedules {
    margin-top: -239px;
    margin-left: 67px;
    height: 318px;
  }
  .section__ahead__conversation {
    margin-top: 104px;
    height: 322px;
  }
  .join-conversation {
    transform: translate(0, -183px);
    margin-left: 27px;
  }
  .message {
    width: 240px;
    height: 240px;
    margin-right: 40px;
    font: normal normal normal 30px/38px 'Tiempos Headline Bold';
  }
  .section__map__itinerary {
    margin-top: 147px;
  }
  .section_itinerary {
    width: 398px;
    height: 504px;
  }
  .section__dotline {
    margin-top: 100px;
  }
  .section__map {
    top: 118px;
    margin-left: 34px;
  }
  .section__limited {
    top: 144px;
    width: 320px;
    height: 320px;
  }
  .section__limited__text {
    font: normal normal normal 40px/48px 'Tiempos Headline Bold';
    margin-bottom: 24px;
  }
  .section__mission {
    width: 315px;
    padding-bottom: 90px;
  }
  .section__missionTitle {
    font: normal normal normal 40px/48px 'Tiempos Headline Bold';
  }
  .section__missionContents {
    max-width: 1120px;
    padding-top: 180px;
  }
  .section__missionSubtitle {
    font: normal normal normal 30px/38px 'Tiempos Headline Bold';
    height: 100px;
  }
  .section__missionContent {
    font: normal normal normal 18px/26px 'Proxima Nova';
  }
  .section__address {
    font: normal normal normal 14px/22px 'Proxima Nova Bold';
  }
  a.label {
    font: normal normal normal 14px/22px 'Proxima Nova Bold';
  }
  .section__copyright .main-content {
    font: normal normal normal 14px/20px 'Proxima Nova Bold';
  }
}
